# ignore .env file
env
.env

# ignore package-lock.json files anywhere
**/package-lock.json
package-lock.json




# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
